<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

        <title>会员列表</title>

        <link href="{$Think.config.BACK_CSS_URL}mine.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="{$Think.config.COMMON_URL}Js/jquery-1.11.3.min.js"></script> 
    </head>
    <body>
        <style>
            .tr_color{background-color: #9F88FF}
        </style>
        <div class="div_head">
            <span>
                <span style="float: left;">当前位置是：{$bread.first}-》{$bread.second}</span>
                <span style="float: right; margin-right: 8px; font-weight: bold;">
                    <a style="text-decoration: none;" href="{$bread.linkTo.1}">{$bread.linkTo.0}</a>
                </span>
            </span>
        </div>
        <div></div>

        {__CONTENT__}

        </body>
</html>