<div style="font-size: 13px;margin: 10px 5px">
    <form action="__SELF__" method="post" enctype="multipart/form-data">
        <table border="1" width="100%" class="table_a">
            <tr>
                <td>权限名称</td>
                <td><input type="text" name="goods_name" /></td>
            </tr>
            <tr>
                <td>权限上级</td>
                <td><input type="text" name="goods_price" /></td>
            </tr>             
            <tr>
                <td>控制器</td>
                <td><input type="text" name="goods_price" /></td>
            </tr>               
            <tr>
                <td>操作方法</td>
                <td><input type="text" name="goods_price" /></td>
            </tr>                    
            <tr><td colspan='100'><input type='submit' value="添加"></td></tr>
        </table>
    </form>
</div>
